.header {
    height: 119px;
    padding: 0 125px;
    border-bottom: 1px solid #1C1C21;
  }

.headerContainer {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid #1C1C21;
    border-right: 1px solid #1C1C21;
    align-items: center;
    height: 100%;
    padding: 0 40px;
    position: relative;
}

.logo {
    font-size: 27px;
}

.nav {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid #1C1C21;
  margin-top: 32px;
}

.nav button {
  color: #AFB0B6;
  width: 150px;
  height: 87px;
  border: none;
  border-right: 1px solid #1C1C21;
  font-size: 18px;
  background-color: transparent;
}

.nav button:first-child  {
  border-top-left-radius: 12px;

}
.nav button:last-child {
  border-top-right-radius: 12px;
}


.nav button:hover {
  background-color: #131316;
}

.btnContact {
  width: 148px;
  height: 59px;
  border-radius: 10px;
  background-color: #1C1C21;
  font-size: 18px;
  border: none;
  color: white;
  font-weight: 600;
}

.btnContact:hover {
  background-color: #1c1c21d2;
}


.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;

  width: 68px;
  height: 68px;
  border-top: 1px solid #1C1C21;
  border-left: 1px solid #1C1C21;
  border-top-left-radius: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.burger span {
  display: block;
  width: 21px;
  height: 2px;
  background: white;
  border-radius: 5px;
}



.themeBtn {
  color: #AFB0B6;
  cursor: pointer;
  width: 80px;
}

.burger.dark span {
  background-color: black;
}

.menu {
  border: 1px solid #1C1C21;
  border-top: 0;
  height: 150px;
  position: absolute;
  inset: 109px 0;
  display: none;
  padding: 15px;
  justify-content: space-between;
  z-index: 10;
}

.menu.visible {
  display: flex;
}

.navMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navMenu button{
  border: none;
  color: #AFB0B6;
  background-color: #1C1C21;
  width: 98px;
  height: 35px;
  border-radius: 10px;
}

.btnContactMenu {
  width: 98px;
  height: 35px;
  font-size: 12px;
  border-radius: 10px;
  background-color: #1C1C21;
  border: none;
  font-weight: 600;
  color: white;
}

@media(max-width: 1440px) {
  .header {
    height: 89px;
    padding: 0 62px;
  }
  .logo {
    font-size: 22px;
}
.nav {
  margin-top: 20px;
}
.nav button {
  color: #AFB0B6;
  width: 119px;
  height: 69px;
  font-size: 14px;
}
.btnContact {
  width: 118px;
  height: 49px;
  font-size: 14px;
}
}

@media(max-width: 1024px) {
  .header {
    height: 89px;
    padding: 0 42px;
  }
  .logo {
    font-size: 20px;
}
.nav {
  margin-top: 30px;
}
.nav button {
  color: #AFB0B6;
  width: 99px;
  height: 59px;
  font-size: 12px;
}
.btnContact {
  width: 108px;
  height: 40px;
  font-size: 12px;
}
}

@media(max-width: 900px) {
  .header {
    height: 108px;
    padding: 0 16px;
  }
  .logo {
    font-size: 18px;
}
  .nav {
    display: none;
  }
  .btnContact {
    display: none;
  }
  .burger {
    display: flex;
  }
  .headerContainer {
    padding: 0 0 0 16px;
}
}