.main {
  margin: 200px 0;
  padding: 0 162px;
  display: flex;
  flex-direction: column;
  gap: 200px;
}


@media (max-width: 1440px) {
  .main {
    padding: 0 80px;
    margin-top: 150px;
    gap: 150px;
  }
}

@media (max-width: 790px) {
  .main {
    padding: 0 16px;
    margin-top: 80px;
    gap: 80px;
  }
}